# 1.python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32\chromedriver.exe')

In [13]:
driver=webdriver.Chrome('chromedriver.exe')

In [17]:
url = 'https://www.naukri.com/'
driver.get(url)

In [20]:
#finding element for search job bar using absolute xpath
search_job=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job

In [22]:
search_job.send_keys("data analyst")

In [23]:
search_loc=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_loc

In [24]:
search_loc.send_keys("bangalore")

In [25]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_button

In [26]:
search_button.click()

In [48]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags=title_tags[0:10]
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="56f23473-2311-4b29-997d-946e08f8a344")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="f1d72811-3819-44c8-b39c-927263422732")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="7fb4b0ce-957d-452d-bfc8-b63c0f0f9809")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="e9c72a58-ad3d-43e1-8e9c-a92027545eb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="5a2e57f4-0b08-4137-acd4-294ddf56b484")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="ece6aa3a-0f8f-4240-b88c-b01148585529")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="7811e058-f5a4-4076-afba-ea20879211e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="f3b81df9-329f-4566-a7ea-968605c04295")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="ca91edbb-26f0-44ad-a1e7-62556814630b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="914011c0144f7202f7bafd26fd60d8a8", element="7467f380-b51e-4d61-83c0-c403cc4676b6")>]

In [49]:

jobs_title=[]
for i in title_tags:
    jobs_title.append(i.text)
jobs_title

['Lead - Data Analyst / Scientist',
 'Senior Data Analyst - Supporting Audits',
 'Senior Data Analyst',
 'Data Analyst',
 'Tcs Hiring For Data Analyst / Engineers',
 'Business Data Analyst - Database Design/Mining',
 'Senior Data Analyst - KPO',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Advanced Services Engineer - Data Analyst']

In [47]:
company_names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_names:
    company_name.append(i.text)
company_name=company_name[0:10]
company_name

['Axim Technologies',
 'Visa',
 'Schneider Electric',
 'Snaphunt',
 'Tata Consultancy Services Ltd.',
 'AugmatrixGo',
 'Huquo Consulting Pvt. Ltd',
 'Glance IT Solution',
 'Arcworth Strategy LLP',
 'Juniper Networks']

In [60]:
company_exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_required=[]
for i in company_exp:
    exp_required.append(i.text)
exp_required=exp_required[0:10]
exp_required

['12-14 Yrs',
 '5-8 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '7-12 Yrs',
 '1-6 Yrs',
 '2-4 Yrs',
 '5-9 Yrs']

In [53]:
sal_bracket=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
sal=[]
for i in sal_bracket:
    sal.append(i.text)
sal=sal[0:10]
sal

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,00,000 - 6,00,000 PA.',
 'Not disclosed']

In [54]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc=[]
for i in job_loc:
    loc.append(i.text)
loc=loc[0:10]
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru']

In [61]:
len(loc),len(sal),len(exp_required),len(company_name),len(jobs_title)

(10, 10, 10, 10, 10)

In [63]:
#dataframe
jobs=pd.DataFrame()
jobs['Title']=jobs_title
jobs['Company']=company_name
jobs['Experiance']=exp_required
jobs['Salary']=sal
jobs['Location']=loc
jobs

,Title,Company,Experiance,Salary,Location
0,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Not disclosed,Bangalore/Bengaluru
1,Senior Data Analyst - Supporting Audits,Visa,5-8 Yrs,Not disclosed,Bangalore/Bengaluru
2,Senior Data Analyst,Schneider Electric,0-2 Yrs,Not disclosed,Bangalore/Bengaluru
3,Data Analyst,Snaphunt,0-2 Yrs,Not disclosed,Bangalore/Bengaluru
4,Tcs Hiring For Data Analyst / Engineers,Tata Consultancy Services Ltd.,4-9 Yrs,Not disclosed,"Pune, Bangalore/Bengaluru, Delhi / NCR"
5,Business Data Analyst - Database Design/Mining,AugmatrixGo,2-5 Yrs,Not disclosed,Bangalore/Bengaluru
6,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,7-12 Yrs,Not disclosed,"Gurgaon/Gurugram, Bangalore/Bengaluru"
7,Senior Data Analyst,Glance IT Solution,1-6 Yrs,Not disclosed,Bangalore/Bengaluru
8,Senior Data Analyst,Arcworth Strategy LLP,2-4 Yrs,"2,00,000 - 6,00,000 PA.",Remote
9,Advanced Services Engineer - Data Analyst,Juniper Networks,5-9 Yrs,Not disclosed,Bangalore/Bengaluru

# 2.python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name

In [67]:
driver=webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32\chromedriver.exe')

In [68]:
url = 'https://www.naukri.com/'
driver.get(url)

In [69]:
search_job=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job

In [70]:
search_job.send_keys("Data Scientist")

In [71]:
search_loc=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_loc

In [72]:
search_loc.send_keys("bangalore")

In [74]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_button.click()

In [75]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags=title_tags[0:10]
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="7ec30d9d-694b-4517-9824-237fdfb1b767")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="bf014ea1-f9da-4db6-8e04-f38aaf4f041b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="1e594a60-7440-41a0-a811-339803b18635")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="28d4c7ec-1598-4809-84ee-462e22093a1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="8bfc9d15-0280-495b-94d6-f5d459f6c372")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="312672cb-a6a8-4474-9d82-5aa16b4d5883")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="bd530946-4ae5-463c-b23a-d3ddd61faf35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="591aac88-fad6-4076-9659-8c226af35a25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="e509f85c-a919-44e3-b110-f178eac611fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3aaddb0e625f2b342a8047c2ea3b006", element="65fbb818-ebc2-44c1-877f-2dc269ea8571")>]

In [76]:
jobs_title=[]
for i in title_tags:
    jobs_title.append(i.text)
jobs_title

['Global Tax Automation & Operations | Data Scientist Senior Analyst',
 'Lead - Data Analyst / Scientist',
 'Data Scientist I',
 'Azure ML Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist',
 'Lead Data Scientist',
 'Senior Risk Data Scientist']

In [77]:
company_names=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
company_name=[]
for i in company_names:
    company_name.append(i.text)
company_name=company_name[0:10]
company_name

['Global Tax Automation & Operations | Data Scientist Senior Analyst',
 'Lead - Data Analyst / Scientist',
 'Data Scientist I',
 'Azure ML Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist',
 'Lead Data Scientist',
 'Senior Risk Data Scientist']

In [79]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc=[]
for i in job_loc:
    loc.append(i.text)
loc=loc[0:10]
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [83]:
#dataframe
jobs=pd.DataFrame()
jobs['Job Title']=jobs_title
jobs['Company Name']=company_name
jobs['Job Location']=loc
jobs

,Job Title,Company Name,Job Location
0,Global Tax Automation & Operations | Data Scie...,Global Tax Automation & Operations | Data Scie...,Bangalore/Bengaluru
1,Lead - Data Analyst / Scientist,Lead - Data Analyst / Scientist,Bangalore/Bengaluru
2,Data Scientist I,Data Scientist I,Bangalore/Bengaluru
3,Azure ML Data Scientist,Azure ML Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
4,Senior Data Scientist,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
5,Senior Data Scientist,Senior Data Scientist,Bangalore/Bengaluru
6,Openings For Jr/mid/Sr level data Scientists,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
7,Data Scientist,Data Scientist,Bangalore/Bengaluru
8,Lead Data Scientist,Lead Data Scientist,Bangalore/Bengaluru
9,Senior Risk Data Scientist,Senior Risk Data Scientist,Bangalore/Bengaluru

# 3 Python program to scrape the data from naukri.com, The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [3]:
driver=webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [94]:
search_job=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job.send_keys("Data Scientist")

In [95]:
search_loc=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_loc.send_keys("Delhi/NCR")

In [96]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_button.click()

In [100]:
sal_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
sal_check.click()

In [102]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags=title_tags[0:10]
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="f8e7c432-6346-45e5-a1a8-601eb5056c05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="2285cd1e-b840-472c-87f2-18947961073f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="aa418a6b-2d17-4f3c-9e9b-748a883c25fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="ee82a181-a7b0-4e4e-84f5-2a74d01ebcb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="e14ad7fd-7f83-4a01-9e72-90fd037f7676")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="a0b69761-5af8-46b1-b677-5c1d8f2635c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="35674f87-3693-43f1-9afb-c5b3b5283f37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="79d369d9-0cab-489c-9752-a698144695ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="ff5d1f96-5c0c-46b1-9314-616f351a6148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4970f0ae9ee119658ecc22e5918171be", element="4595ea86-4f24-4e75-9296-3d56f4fd2c41")>]

In [103]:
jobs_title=[]
for i in title_tags:
    jobs_title.append(i.text)
jobs_title

['Senior Data Scientist I',
 'Openings For Jr/mid/Sr level data Scientists',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Data Scientist',
 'Data Scientist role',
 'Data Scientist role',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist - DARPG, New Delhi',
 'Data Scientist Internship']

In [104]:
company_names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_names:
    company_name.append(i.text)
company_name=company_name[0:10]
company_name

['Delhivery',
 'Pluto seven business solutions (p) limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Teleperformance',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'GABA Consultancy services',
 'NISG (National Institute for Smart Government)',
 'iHackers Inc']

In [105]:
company_exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_required=[]
for i in company_exp:
    exp_required.append(i.text)
exp_required=exp_required[0:10]
exp_required

['3-7 Yrs',
 '2-6 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '4-9 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '3-8 Yrs',
 '0-1 Yrs']

In [106]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc=[]
for i in job_loc:
    loc.append(i.text)
loc=loc[0:10]
loc

['Gurgaon/Gurugram',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, New Delhi, Delhi / NCR',
 'Delhi / NCR',
 'New Delhi']

In [107]:
#dataframe
jobs=pd.DataFrame()
jobs['Title']=jobs_title
jobs['Company']=company_name
jobs['Experiance']=exp_required
jobs['Location']=loc
jobs

,Title,Company,Experiance,Location
0,Senior Data Scientist I,Delhivery,3-7 Yrs,Gurgaon/Gurugram
1,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
2,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
4,Data Scientist,Teleperformance,4-9 Yrs,"Gurgaon/Gurugram, Chennai"
5,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
6,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
7,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
8,"Data Scientist - DARPG, New Delhi",NISG (National Institute for Smart Government),3-8 Yrs,Delhi / NCR
9,Data Scientist Internship,iHackers Inc,0-1 Yrs,New Delhi

# 4.Scrape data of first 100 sunglasses listings on flipkart.com

In [108]:
driver=webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32\chromedriver.exe')

In [109]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [112]:
search_sunglasses=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_sunglasses.send_keys("sunglasses")

In [113]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [115]:
product_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_name=[]
for i in product_brand:
    brand_name.append(i.text)
brand_name

['SRPM',
 'Elligator',
 'kingsunglasses',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'New Specs',
 'Fastrack',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'PIRASO',
 'Johaena',
 'PIRASO',
 'New Specs',
 'Rich Club',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'ROYAL SON',
 'kingsunglasses',
 'PHENOMENAL',
 'PHENOMENAL',
 'Rich Club',
 'Elligator',
 'maxa',
 'Lee Topper',
 'Fastrack',
 'agera',
 'DEIXELS',
 'New Specs',
 'Rich Club',
 'Fastrack',
 'hipe',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'kingsunglasses']

In [116]:
product_dis=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_discription=[]
for i in product_dis:
    product_discription.append(i.text)
product_discription

['UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Polarized Round Sunglasses (48)',
 'UV Protection Round, Oval Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...']

In [117]:
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_amount=[]
for i in product_price:
    product_amount.append(i.text)
product_amount

['₹188',
 '₹248',
 '₹188',
 '₹479',
 '₹200',
 '₹274',
 '₹259',
 '₹758',
 '₹261',
 '₹156',
 '₹187',
 '₹187',
 '₹156',
 '₹187',
 '₹262',
 '₹165',
 '₹383',
 '₹474',
 '₹179',
 '₹299',
 '₹359',
 '₹273',
 '₹309',
 '₹287',
 '₹163',
 '₹266',
 '₹149',
 '₹276',
 '₹639',
 '₹196',
 '₹229',
 '₹169',
 '₹355',
 '₹799',
 '₹209',
 '₹299',
 '₹769',
 '₹360',
 '₹246',
 '₹187']

In [124]:
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()

In [127]:
product_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_name1=[]
for i in product_brand:
    brand_name1.append(i.text)
brand_name1

['Fastrack',
 'kingsunglasses',
 'ROYAL SON',
 'PIRASO',
 'PHENOMENAL',
 'ROYAL SON',
 'hipe',
 'Lee Topper',
 'Elligator',
 'kingsunglasses',
 'GANSTA',
 'ROZZETTA CRAFT',
 'hipe',
 'Fastrack',
 'Elligator',
 'ROYAL SON',
 'New Specs',
 'kingsunglasses',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'Singco India',
 'IDEE',
 'PHENOMENAL',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'AISLIN',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'SRPM',
 'Flizz',
 'ROYAL SON']

In [128]:
product_dis=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_discription1=[]
for i in product_dis:
    product_discription1.append(i.text)
product_discription1

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Others Round, Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, Gradient, UV Protection Aviator Sunglasses (5...',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored, Gradient, Riding Glasses Round Sunglasses (55...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)']

In [129]:
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_amount1=[]
for i in product_price:
    product_amount1.append(i.text)
product_amount1

['₹799',
 '₹192',
 '₹449',
 '₹261',
 '₹299',
 '₹359',
 '₹178',
 '₹375',
 '₹265',
 '₹192',
 '₹209',
 '₹349',
 '₹189',
 '₹1,085',
 '₹291',
 '₹359',
 '₹187',
 '₹258',
 '₹235',
 '₹426',
 '₹211',
 '₹239',
 '₹299',
 '₹349',
 '₹759',
 '₹243',
 '₹426',
 '₹201',
 '₹1,049',
 '₹309',
 '₹652',
 '₹615',
 '₹449',
 '₹359',
 '₹430',
 '₹225',
 '₹270',
 '₹207',
 '₹244',
 '₹359']

In [130]:
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()

In [132]:
product_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_name2=[]
for i in product_brand:
    brand_name2.append(i.text)
brand_name2=brand_name2[0:20]
brand_name2

['hipe',
 'ROYAL SON',
 'ROYAL SON',
 'elegante',
 'NuVew',
 'Elligator',
 'NuVew',
 'Fastrack',
 'Urbanic',
 'Fastrack',
 'United Colors of Benetton',
 'AISLIN',
 'IDEE',
 'GANSTA',
 'PETER JONES',
 'United Colors of Benetton',
 'ROYAL SON',
 'GANSTA',
 'WROGN',
 'United Colors of Benetton']

In [133]:
product_dis=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_discription2=[]
for i in product_dis:
    product_discription2.append(i.text)
product_discription2=product_discription2[0:20]
product_discription2

['UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection, Night Vision, Riding Glasses Retro Squar...',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Round Sunglasses (50)',
 'UV Protection, Gradient Cat-eye, Wayfarer Sunglasses (6...',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Night Vision, Riding Glasses, UV Protection Wrap-around...',
 'Gradient, Mirrored, UV Protection Aviator Sunglasses (5...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (59)',
 'Mirrored Aviator Sunglasses (56)',
 'Toughened Glass Lens, UV Protection Rectangular, Wayfar...']

In [134]:
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_amount2=[]
for i in product_price:
    product_amount2.append(i.text)
product_amount2=product_amount2[0:20]
product_amount2

['₹179',
 '₹699',
 '₹711',
 '₹349',
 '₹327',
 '₹305',
 '₹222',
 '₹2,159',
 '₹607',
 '₹759',
 '₹1,009',
 '₹698',
 '₹1,149',
 '₹249',
 '₹467',
 '₹989',
 '₹359',
 '₹261',
 '₹759',
 '₹1,029']

In [136]:
#dataframe
sunglasses=pd.DataFrame()
sunglasses['Brand']=brand_name+brand_name1+brand_name2
sunglasses['Product Discription']=product_discription+product_discription1+product_discription2
sunglasses['Price']=product_amount+product_amount1+product_amount2
sunglasses

,Brand,Product Discription,Price
0,SRPM,UV Protection Wayfarer Sunglasses (56),₹188
1,Elligator,UV Protection Round Sunglasses (54),₹248
2,kingsunglasses,UV Protection Round Sunglasses (54),₹188
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹479
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200
...,...,...,...
95,United Colors of Benetton,Mirrored Aviator Sunglasses (Free Size),₹989
96,ROYAL SON,UV Protection Aviator Sunglasses (57),₹359
97,GANSTA,UV Protection Aviator Sunglasses (59),₹261
98,WROGN,Mirrored Aviator Sunglasses (56),₹759
99,United Colors of Benetton,"Toughened Glass Lens, UV Protection Rectangula...","₹1,029"

# 5.Python program to scrape 100 reviews data from flipkart.com for iphone11 phone

In [3]:
driver=webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [5]:
search_iphone=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_iphone.send_keys("iphone 11")

In [6]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [7]:
search_title=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]')
search_title.click()

In [8]:
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)

NameError: name 'urls' is not defined

In [9]:
Rating = []
Review = []
Full_review = []
for i in URLS:
    driver.get(i)

for i in range(10):
    
    for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
        Rating.append(i.text)    
    try:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]').click()
        time.sleep(6)
    except:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(6)

NameError: name 'URLS' is not defined

# Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field

In [10]:
driver=webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32\chromedriver.exe')

In [11]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [12]:
search_sunglasses=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_sunglasses.send_keys("sneakers")

In [14]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [15]:
product_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_name=[]
for i in product_brand:
    brand_name.append(i.text)
brand_name

['RED TAPE',
 'RED TAPE',
 'Magnolia',
 'URBANBOX',
 'Labbin',
 'luxury fashion',
 'Stefano Rads',
 'RED TAPE',
 'SCATCHITE',
 'BIRDE',
 'Numenzo',
 'RED TAPE',
 'Shoes Bank',
 'ASTEROID',
 'HOTSTYLE',
 'RED TAPE',
 'Trendmode',
 'Extoes',
 'D-SNEAKERZ',
 'Advick',
 'ganpati traders',
 'World Wear Footwear',
 'Arohi',
 'RED TAPE',
 'Rzisbo',
 'India hub',
 'Echor',
 'RED TAPE',
 'TR',
 'Kraasa',
 'RapidBox',
 'RED TAPE',
 'CLYMB',
 'Kraasa',
 'ASTEROID',
 'RED TAPE',
 'ESSENCE',
 'BRUTON',
 'Lee Won',
 'RED TAPE']

In [16]:
product_dis=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_discription=[]
for i in product_dis:
    product_discription.append(i.text)
product_discription

['Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Classic Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Classic Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men']

In [17]:
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_amount=[]
for i in product_price:
    product_amount.append(i.text)
product_amount

['₹1,648',
 '₹1,258',
 '₹398',
 '₹220',
 '₹499',
 '₹449',
 '₹242',
 '₹1,678',
 '₹398',
 '₹299',
 '₹426',
 '₹1,708',
 '₹345',
 '₹499',
 '₹298',
 '₹1,258',
 '₹359',
 '₹948',
 '₹348',
 '₹828',
 '₹189',
 '₹199',
 '₹399',
 '₹1,409',
 '₹549',
 '₹449',
 '₹499',
 '₹1,258',
 '₹599',
 '₹444',
 '₹640',
 '₹1,678',
 '₹649',
 '₹444',
 '₹499',
 '₹1,379',
 '₹399',
 '₹715',
 '₹299',
 '₹1,559']

In [18]:
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()

In [19]:
product_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_name1=[]
for i in product_brand:
    brand_name1.append(i.text)
brand_name1

['Robbie jones',
 'BRUTON',
 'Numenzo',
 'RED TAPE',
 'BRUTON',
 'Robbie jones',
 'Robbie jones',
 'RED TAPE',
 'SPARX',
 'WOODLAND',
 'DUNKASTON',
 'RED TAPE',
 'aadi',
 'SPARX',
 'Echor',
 'RED TAPE',
 'Kraasa',
 'Airland',
 'BRUTON',
 'Advick',
 'believe',
 'KANEGGYE',
 'HRDK',
 'RED TAPE',
 'World Wear Footwear',
 'Starlinc',
 'BRUTON',
 'DOC Martin',
 'URBANBOX',
 'India hub',
 'Vellinto',
 'RED TAPE',
 'ESSENCE',
 'WHITE WALKERS',
 'LE GREEM',
 'RED TAPE',
 'RODDICK SHOES',
 'Layasa',
 'Zsyto',
 'DOC Martin']

In [20]:
product_dis=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_discription1=[]
for i in product_dis:
    product_discription1.append(i.text)
product_discription1

['Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'White Sneaker For Men Sneakers For Men',
 'Classic Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers Shoes For Men Black Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Classic Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'White Melvin Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Casual Sneakrs For Men Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Walking shoes,Casual Sneakers For Men',
 'White Ranger Sneakers For Men']

In [21]:
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_amount1=[]
for i in product_price:
    product_amount1.append(i.text)
product_amount1

['₹474',
 '₹178',
 '₹407',
 '₹1,678',
 '₹299',
 '₹451',
 '₹499',
 '₹1,258',
 '₹799',
 '₹2,995',
 '₹374',
 '₹1,258',
 '₹399',
 '₹799',
 '₹499',
 '₹1,648',
 '₹449',
 '₹190',
 '₹447',
 '₹828',
 '₹424',
 '₹399',
 '₹367',
 '₹1,678',
 '₹599',
 '₹237',
 '₹530',
 '₹1,116',
 '₹166',
 '₹429',
 '₹749',
 '₹1,708',
 '₹399',
 '₹599',
 '₹426',
 '₹1,379',
 '₹499',
 '₹399',
 '₹328',
 '₹1,116']

In [22]:
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()

In [23]:
product_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_name2=[]
for i in product_brand:
    brand_name2.append(i.text)
brand_name2=brand_name2[0:20]
brand_name2

['bluemaker',
 'Chevit',
 'M7 By Metronaut',
 'RED TAPE',
 'SPARX',
 'K- FOOTLANCE',
 'Chevit',
 'RED TAPE',
 'PROVOGUE',
 'restinfoot',
 'Kirjak',
 'RED TAPE',
 'RED TAPE',
 'RODDICK SHOES',
 'RODDICK SHOES',
 'RED TAPE',
 'Infinix',
 'BIRDE',
 'BRUTON',
 'Bond Street By Red Tape']

In [24]:
product_dis=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_discription2=[]
for i in product_dis:
    product_discription2.append(i.text)
product_discription2=product_discription2[0:20]
product_discription2

['casual for men (blue 06) Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 '(M7-22503)-Black Grey Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men | Latest Stylish Causal Shoes For Men ...',
 'Stylish & Comfort Combo Pack of 02 Pair Shoes for Boys ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual shoes Sneakers For Men',
 "men's Red sneakers lace-up trendy casual Sneakers For M...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Men & Boys Stylish, Comfortable Mesh Shoes With Soft La...',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Combo Pack Of 2 Lattest Collection shoes Sneakers For M...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Mesh Walking Casual Sneakers Shoes for Men And Boys Sne...',
 'Sneakers For Men']

In [25]:
product_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_amount2=[]
for i in product_price:
    product_amount2.append(i.text)
product_amount2=product_amount2[0:20]
product_amount2

['₹449',
 '₹357',
 '₹729',
 '₹1,648',
 '₹1,019',
 '₹464',
 '₹446',
 '₹1,258',
 '₹740',
 '₹378',
 '₹472',
 '₹1,409',
 '₹1,559',
 '₹499',
 '₹474',
 '₹1,559',
 '₹399',
 '₹423',
 '₹321',
 '₹1,259']

In [26]:
sunglasses=pd.DataFrame()
sunglasses['Brand']=brand_name+brand_name1+brand_name2
sunglasses['Product Discription']=product_discription+product_discription1+product_discription2
sunglasses['Price']=product_amount+product_amount1+product_amount2
sunglasses

ValueError: Length of values (88) does not match length of index (100)